.vscode
p-Pb/*.root
*.pcm
*.d
*.so
*.xml
*.png
*.jdl
*.sh
*.pdf
*.zip

old_stuff_for_reference/
orphan_results/
*myAnalysis.C
*myTask_merge.C
*stderr
*stdout

# ignore all rootResults ... 
**/1_Root_Results/*    

# except... backup current results
!**/1_Root_Results/0_current_best/