.vscode
*.root
*.pcm
*.d
*.so
*.xml
*.png
*.jdl
*.sh
*.txt
*myAnalysis.C
*myTask_merge.C
*stderr
*stdout
**/runAnalysis_ROOT6.C
analysis/p-Pb/New
analysis/AliCascadeAnalysis_Ishaan_Fitting_DEBUG.C
analysis/p-Pb/cent.C
analysis/cascades/TopologicalCuts.cxx
analysis/cascades/adam.cxx
analysis/cascades/TopologicalCuts.h
AN*
data_AOD*
Prep*
pdf_final*
# for latex compilation:
*.aux
*.fdb_latexmk
*.fls
*.log
*.gz
*.blg
*.bbl
*.out
*.toc
*.lot
*.lof
minimovka*.pdf

skeleton.pdf
PoSauth*
PoStemplate*
iahuja*
*converted*