.vscode
code/*.root
*.pcm
*.d
*.so
*.xml
*.png
*.jdl
*.sh
*.pdf
*.zip

old_stuff_for_reference/
orphaned_results/
*myAnalysis.C
*myTask_merge.C
*stderr
*stdout
*valgrind*

# ignore all .root results ... 
**/results/*    

# except... backup current results
!**/results/0_current_best/