.vscode
*.root
*.pcm
*.d
*.so
*.xml
*.png
*.jdl
*.sh
*.txt
*myAnalysis.C
*myTask_merge.C
*stderr
*stdout
**/runAnalysis_ROOT6.C
p-Pb/New
p-Pb/cent.C
cascades/TopologicalCuts.cxx
cascades/adam.cxx
cascades/TopologicalCuts.h
AN*
data_AOD*
Prep*
pdf_final*
p-Pb/MC/rootResults